
.label {color: #D3F118;
 font: size:20px }
.label2 { color: #542AE6; }

 imput {
 	padding: 12px 20px;
 	margin: 8px o;
 	box-sizing: border-box;
 }

 .body {
 	background-color: #2AE68D; 
 }